<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.subway.mapper.AdvertisementMapper">

    <select id="getAdvertisementList" resultType="map">
        select
                a.adv_id,
                a.adv_title,
                a.adv_use_yn,
                a.adv_video_id,
                b.vid_id,
                b.vid_file_name,
                b.vid_file_up_path
            from sys.tbl_subway_advertisement a,
                 sys.tbl_subway_video b
            where a.adv_video_id = b.vid_id
              and a.adv_use_yn = 'Y'
    </select>

</mapper>