<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.subway.mapper.FaqMapper">

    <select id="getFaqList" resultType="map">
        select
                *
            from sys.tbl_subway_faq
    </select>

</mapper>