<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.subway.mapper.ShopMapper">

        <select id="getShopList" resultType="map">
                select
                        a.sho_id,
                        a.sho_name,
                        a.sho_full_addr,
                        a.sho_sido,
                        (
                                select
                                                y.cod_name
                                        from sys.tbl_subway_code y
                                        where y.cod_id = a.sho_sido
                        ) as sido_name,
                        a.sho_singungu,
                        (
                                select
                                                z.cod_name
                                        from sys.tbl_subway_code z
                                        where z.cod_id = a.sho_singungu
                        ) as sigungu_name,
                        a.sho_contact,
                        a.sho_open_time,
                        a.sho_close_time,
                        a.sho_breakfast_yn,
                        a.sho_allDay_yn,
                        a.sho_app_fast_sum_yn,
                        a.sho_app_home_sum_yn,
                        a.sho_delivery_yn,
                        a.sho_group_order_yn,
                        a.sho_signature_sum_yn,
                        a.sho_parking_yn,
                        a.sho_use_yn
                from tbl_subway_shop a
        </select>

        <select id="getShopView" resultType="map">
                select
                        a.sho_id,
                        a.sho_name,
                        a.sho_full_addr,
                        a.sho_sido,
                        (
                                select
                                                y.cod_name
                                        from sys.tbl_subway_code y
                                        where y.cod_id = a.sho_sido
                        ) as sido_name,
                        a.sho_singungu,
                        (
                                select
                                                z.cod_name
                                        from sys.tbl_subway_code z
                                        where z.cod_id = a.sho_singungu
                        ) as sigungu_name,
                        a.sho_contact,
                        a.sho_open_time,
                        a.sho_close_time,
                        a.sho_breakfast_yn,
                        a.sho_allDay_yn,
                        a.sho_app_fast_sum_yn,
                        a.sho_app_home_sum_yn,
                        a.sho_delivery_yn,
                        a.sho_group_order_yn,
                        a.sho_signature_sum_yn,
                        a.sho_parking_yn,
                        a.sho_use_yn
                from tbl_subway_shop a
                where sho_id = #{ sho_id }
        </select>

</mapper>



